* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #dac1ff;
}

.shell{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 width: 175px;
 height: 235px;
 background-color: #324f2e;
 border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
 box-shadow: 3px 3px 0 2px #1b371b, inset 0px 0px 10px 2px #2a623f;

}
.inside1 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 width: 165px;
 height: 220px;
 background: radial-gradient(circle,#d6fab5, #8dd24d 100px);
 border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
 box-shadow: 3px 1px #2e4a36, 
 inset 0px 0px 10px 2px #2a623f;
}
.inside2{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 width: 135px;
 height: 180px;
 background: radial-gradient(#d6fab5, #b7f97a 70px);
 border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
 box-shadow: inset 0px 0px 10px #84ac5f;
}

.seed{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-40px, -20px);
 width: 80px;
 height: 85px;
 background: radial-gradient(#ecb568, #d39a4a 30px);
 border-radius: 50% 50%;
 box-shadow: inset -1px -2px 4px 5px #bd8a43;
}

.eyes{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(200%, -55px);
  margin: auto;
 width: 8px;
 height: 8px;
 border-radius: 50% 50%;
 background-color: #000000;
 box-shadow: -40px 0px  #000000;
}
.mouth{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40px);
  background-color: rgb(255, 25, 25);
  width: 10px;
  height: 5px;
  border-radius: 20px 20px 100px 100px;
  box-shadow: inset 0px 4px 3px -1px #000000;
}

.leg1{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(10px, 100px);
  background-color: #1b371b;
  width: 20px;
  height: 50px;
  border-radius: 20px 20px 100px 100px;
  box-shadow: inset 0px 0px 10px 4px #456e40;;
}
.leg2{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-30px, 100px);
  background-color: #1b371b;
  width: 20px;
  height: 50px;
  border-radius: 20px 20px 100px 100px;
  box-shadow: inset 0px 0px 10px 4px #456e40;;
}

.arm1{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(80px, 20px);
 width: 50px;
 height: 20px;
 background-color: #1b371b;
 border-radius: 20px 100px 100px 20px;
 box-shadow: inset 0px 0px 10px 4px #456e40;
}

.arm2{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-130px, 20px);
 width: 50px;
 height: 20px;
 background-color: #1b371b;
 border-radius: 100px 20px 20px 100px;
 box-shadow: inset 0px 0px 10px 4px #456e40;
}